@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#books img{
    width: 100%;
}
#books .card{
    padding-top: 0px;
    border: none;
    background-color: #d4f1fa;
    cursor: pointer;
}
#books .card:hover{
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
}
#books .card p{
    text-align: center;
}
.card-body h4{
    font-size:35px;
    color: rgb(7, 77, 77);
    font-weight: 590;
    font-family: 'Poppins', sans-serif;

}
.card-body p{
    color: rgb(7, 77, 77);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}